@import 'style.css';
@import 'colors&Fonts.css';


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input,
textarea,
button {
  outline: none;
  border: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}